@model SV22T1020193.Models.Sales.OrderDetailViewInfo
@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Cập nhật mặt hàng</h5>
    <button type="button" class="btn-close btn-close-cart"></button>
</div>

<div class="modal-body">
    <form id="formEditCart" method="post" action="@Url.Action("UpdateCartItem", "Order")">

        <input type="hidden" name="productId" value="@Model.ProductID" />

        <div class="mb-3 text-center">
            <img src="~/images/products/@Model.Photo"
                 class="img-fluid"
                 style="max-height:120px" />
        </div>

        <div class="mb-3">
            <label>Tên hàng</label>
            <input class="form-control" value="@Model.ProductName" readonly />
        </div>

        <div class="mb-3">
            <label>Đơn vị</label>
            <input class="form-control" value="@Model.Unit" readonly />
        </div>

        <div class="mb-3">
            <label>Số lượng</label>
            <input type="number" name="quantity"
                   class="form-control"
                   value="@Model.Quantity" min="1" />
        </div>

        <div class="mb-3">
            <label>Giá bán</label>
            <input type="number" name="salePrice"
                   class="form-control"
                   value="@Model.SalePrice.ToString("0")"/>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" id="btnUpdateCart">
        <i class="bi bi-check"></i> Cập nhật
    </button>

    <button class="btn btn-secondary btn-close-cart">
        Đóng
    </button>
</div>